<div class="container-page  muachung-site home-page home-page2 home-page3">
    <div class="mp-pusher" id="mp-pusher">
        <div id="header">
            <div class="header-top dulich">
                <div class="container clearfix">
                    <div class="top-left-link make-left">
                        <a href="https://muachung.vn/?ref=menu_top_mc" class="make-left nl-item mc-link active">
                            <i class="icon iMCTop2"></i>
                        </a>
                        <a href="https://muachung.vn/du-lich.html?ref=menu_top_mc" class="make-left nl-item travel-link">
                            <i class="icon iTravel2"></i>Du lịch
                        </a>
                    </div>
                    <div class="top-right-action make-right">
                        <div class="tr-wrapper wrap-location make-right">
                            <div class="tr-show-val val-location " id="22">
                                <i class="icon iLocation2"></i><span class="">Hà Nội</span><i class="icon iAD1"></i>
                            </div>
                            <div class="tr-dropdown dropdown-location">
                                <div class="inner-dropdown">
                                    <div class="lbl-location">Mời bạn chọn tỉnh thành</div>
                                    <ul class="rs list-location">
                                        <li class="sys_change_location" data-id="0" data-name="TP Hồ Chí Minh" onclick="shop.header.city.setCity(29, 'tp-ho-chi-minh')">
                                            <div><i class="icon iLocation1"></i>TP Hồ Chí Minh</div>
                                        </li>
                                        <li class="sys_change_location" data-id="0" data-name="Nghệ An" onclick="shop.header.city.setCity(39, 'nghe-an')">
                                            <div><i class="icon iLocation1"></i>Nghệ An</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-mid muachung">
                <div class="container">
                    <div class="clearfix">
                        <a class="logo-site make-left" href="https://muachung.vn/?ref=menu_top_mc"><i class="icon iLogoMC3"></i></a>
                        <div class="make-left alt-main-cate">
                            <div class="btn-toggle-cate">
                                <i></i>
                            </div>
                            <div class="alt-drp-cate">
                                <div class="lbl-maincate-drp">Danh mục</div>
                                <div class="list-cates">
                                    <div class="h-cate-item sml-cate">
                                        <a href="https://muachung.vn/danh-muc/c-999999999/deal-moi-hom-nay.html?ref=menu_top_mc" class="parent-cate">
                                            <i class="iCate iNew"></i>Deals mới nhất
                                        </a>
                                    </div>
                                    <div class="h-cate-item sml-cate">
                                        <a href="https://muachung.vn/danh-muc/c-999999995/deal-ban-chay-nhat.html?ref=menu_top_mc" class="parent-cate">
                                            <i class="iCate iSale"></i>Deals bán chạy nhất
                                        </a>
                                    </div>
                                    <div class="h-cate-item sml-cate">
                                        <a href="https://muachung.vn/danh-muc/c-9/am-thuc-nha-hang.html?ref=menu_top_mc" class="parent-cate">
                                            <i class="icon-cate-all iCate am-thuc-nha-hang"></i> Ẩm thực &amp; Nhà hàng
                                        </a>
                                    </div>
                                    <div class="h-cate-item sml-cate">
                                        <a href="https://muachung.vn/danh-muc/c-6/spa-lam-dep.html?ref=menu_top_mc" class="parent-cate">
                                            <i class="icon-cate-all iCate spa-lam-dep"></i> Spa &amp; Làm đẹp
                                        </a>
                                    </div>
                                    <div class="h-cate-item sml-cate">
                                        <a href="https://muachung.vn/danh-muc/c-7/dao-tao-giai-tri.html?ref=menu_top_mc" class="parent-cate">
                                            <i class="icon-cate-all iCate dao-tao-giai-tri"></i> Đào tạo &amp; Giải trí
                                        </a>
                                    </div>
                                    <div class="mc-cate-item cate-dulich">
                                        <a href="https://muachung.vn/du-lich.html?ref=menu_top_mc">
                                            <i class="icon iMenuTour"></i> <i class="icon iGoOut"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mid-right make-right">
                            <div class="user-panel-wrap">
                                <div class="user-panel make-right">
                                </div>
                            </div>
                            <!--end: .user-panel -->
                            <div class="shop-cart-wrap">
                                <div class="shop-cart shop-cart-icon make-right">
                                    <div class="show-cart clearfix">
                                        <a href="javascript:void(0);" onclick="shop.header.cartView()">
                                            <div class="cs-p">
                                                <i class="icon iCart3 make-left"></i>
                                                <div class="cart-count make-right">
                                                    <div class="cc-val fw-rbb" id="sys_count_items_cart">0</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="shop-cart make-right">
                                    <div class="shop-cart show-wish clearfix">
                                        <div id="sys_show_popup_login" class="cs-p" data-count="0">
                                            <a href="#"><i class="icon iWishlish2 make-left"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h1>New User</h1>

<%= render 'form', user: @user %>
