<div class="wrapper container">
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= @user.hashed_password %>
  </p>

  <p>
    <strong>Role:</strong>
    
    <%if @user.isadmin == 1%> Admin
    <% else %> Member
    <%end%>
  </p>

  <%= link_to 'Chỉnh sửa', edit_user_path(@user) %> |
  <%= link_to 'Quay lại', users_path %> 
</div>