<!DOCTYPE html>
<html>
<head>
<title>Muachung: Khám phá những giá trị tiềm ẩn</title>
<link rel="shortcut icon" href="https://muachung.vn/favicon.ico?v=65.12" />
<link rel="stylesheet" type="text/css" href="general.css"/>
</head>
<body>
<div id="header-top"> 
	<div class="container"> 
		<div id="menu-left">
			<div id="icon-mc-area">
				<i id="icon-mc"></i>
			</div>
			<div id="icon-dl-area">
				<i id="icon-dl"></i>Du lịch
			</div>
		</div>
	</div>
</div>
<div id="header-mid">
	<div class="container"> 
		<div id="logo-area">
			<i id="logo"></i>
		</div>
		<div id="login-area">
			<i id="login"></i>
			<div id="login-text">Đăng nhập / Đăng ký</div>
		</div>
	</div>
</div>
</body>