<!DOCTYPE html>
<html>
<head>
<title>Muachung: Khám phá những giá trị tiềm ẩn</title>
<link rel="shortcut icon" href="https://muachung.vn/favicon.ico?v=65.12" />
<%= stylesheet_link_tag 'general' %>
</head>
<body>
<div id="header-top"> 
	<div class="container"> 
		<div id="menu-left">
			<div id="icon-mc-area">
				<i id="icon-mc"></i>
			</div>
			<div id="icon-dl-area">
				<i id="icon-dl"></i>Du lịch
			</div>
		</div>
	</div>
</div>
<div id="header-mid">
	<div class="container"> 
		<div id="logo-area">
			<i id="logo"></i>
		</div>
		<div id="login-area">
			<i id="login"></i>
			<a style="">
				<%= link_to 'Đăng nhập / Đăng ký', sessions_destroy_path, id:"login-text" %>
			</a>
		</div>
	</div>
</div>
</body>